@model LoginModel
@{
    ViewBag.Title = "Staff Register";
}
<br />

<style>
    body {
        background-image: url('/images/RegisterSSS1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .container {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
    }

    #SelectGroup {
        margin-top: 10px;
    }
</style>
<h3 style="color: green;">Please select your user ROLE before you log in</h3>
<p> This will ensure you have the appropriate log in template based on your role </p>
<p>NB!!, Admin, Manager and Facility in charge can log in despite selecting any user role</p>
<div class="container">
  
    <div class="list-group list-group-horizontal list-group-horizontal-lg">
        <a asp-action="Login" asp-controller="Account" asp-route-regAs="staff" class="list-group-item
           @(ViewBag.regAs == "staff" ? "active" : "") "> Staff</a>
        <a asp-action="Login" asp-controller="Account" asp-route-regAs="student" class="list-group-item
            @(ViewBag.regAs == "student" ? "active" : "")"> Student</a>
        <a asp-action="Login" asp-controller="Account" asp-route-regAs="guest" class="list-group-item
            @(ViewBag.regAs == "guest" ? "active" : "")">Guest</a>

    </div>
</div>

<section id="hero" class="clearfix">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center" data-aos="fade-up">
            <div class="col-md-12" data-aos="zoom-in" data-aos-delay="100">

                <div class="form">

                    <h4>Welcome to UFS Connect Book!</h4>
                    <p>Please provide the details below to login to your account</p>

                    <form asp-action="Login" asp-controller="Account" method="post" role="form">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <input asp-for="ReturnUrl" type="hidden" />

                        <div class="form-group mt-3">
                            <input asp-for=EmailAddress type="email" class="form-control" placeholder="Email Address">
                        </div>

                        <div class="form-group mt-3">
                            <div class="input-group">
                                <input asp-for="Password" class="form-control" id="password-input" type="password" placeholder="Password" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i id="password-toggle" class="fa fa-eye"></i>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button class="btn btn-primary" type="submit" title="Login">Login</button>
                        </div>

                        <br />  <small class="text-center">Not registered yet? <a asp-action="Register">Create Account</a></small>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <script>
        var passwordInput = document.getElementById("password-input");
        var passwordToggle = document.getElementById("password-toggle");

        passwordToggle.addEventListener("click", function () {
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                passwordToggle.classList.remove("fa-eye");
                passwordToggle.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                passwordToggle.classList.remove("fa-eye-slash");
                passwordToggle.classList.add("fa-eye");
            }
        });
    </script>
</section>

@*        <div class="input-group">
                        <input asp-for="Password" class="form-control" id="password-input" type="password" />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i id="password-toggle" class="fa fa-eye"></i>
                            </span>
                        </div>


                    </div>*@
