@{
    ViewData["Title"] = "Profile";
}
@model AppUser
<div class="pagetitle">
    <h1>Profile</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">
    </div>
    <div class="fade show active profile-overview" id="profile-overview">

        <h5 class="card-title">Profile Details</h5>


        <div class="row">
            <div class="col-lg-3 col-md-4 label ">Full Name</div>
            <div class="col-lg-9 col-md-8">@Model.Name @Model.Surname</div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 label">Company</div>
            <div class="col-lg-9 col-md-8">University of the Free State</div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 label">Student No/ Staff No / ID No</div>
            <div class="col-lg-9 col-md-8">@Model.Identity</div>
        </div>
       
            <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">@Model.Email</div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-8"><a class="btn btn-primary" asp-action="Edit">Edit</a></div>
            </div>
        



        <br/>
         <form asp-action="ChangePassword" asp-controller="Profile" method="post" role="form">
            <button class="btn btn-primary" type="submit" title="Login">ChangePassword</button>
         </form>
    </div>
</section>
