@{
    ViewData["Title"] = "Notification";
}

<div class="container">
    <h4>Notification</h4>
    <div class="alert alert-success" role="alert">
        @ViewBag.NotificationMessage
    </div>
</div>
