<!DOCTYPE html>
<html>
<head>
    <title>Feedback Received Successfully!</title>
    <style>
        body {
            background-color: #f4f4f4;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        .notification {
            background-color: #4CAF50;
            color: white;
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div class="notification">
        <h2>Feedback Received Successfully!</h2>
        <p>Thank you for your feedback. We appreciate your input!</p>

    </div>
</body>
</html>
