@model LoginModel
@{
    ViewBag.Title = "LogIn";
}
<h4>Log In</h4>
<p>Ensure that you are a registerd UfsConnectBook user 
    before you proceed. Enter all relevant information to Log In</p>

<p> Not registered yet?  </p>
    <form asp-action="Registration" asp-controller="Account" method="post">
      <button class="btn btn-primary" type="submit"> Register </button>
   </form>

   <div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/Register.jpg" class="img-thumbnail" height="150" />
        </div>
        <div class="col-md-6">

<h3> Please select your ROLE </h3>
<div class=" container"> 
 <div class="row justify-content-end">
        <div class="col-md-6">
<form asp-action="StudentLogIn" method="post" asp-controller="Account" role="form">
    <form asp-action="StudentLogIn" asp-controller="Account" method="post">

        <button class="btn btn-primary" type="submit"> Student </button>
        <div class="bg-light m-1 pb-2">
             <a class="navbar-brand" asp-controller="Account" asp-action="StudentLogIn">
                <img src="~/images/Student.jpg" class="img-thumbnail" width="150" height="150" />
            </a>
            <h5 class="fst-italic">Student</h5>

        </div>

    </form>
    <br/>

    <form asp-action="StaffLogIn" asp-controller="Account" method="post">

        <button class="btn btn-primary" type="submit"> Staff </button>
         <div class="bg-light m-1 pb-2">
                                    <a class="navbar-brand" asp-controller="Account" asp-action="StaffLogIn">
                <img src="~/images/Staff.jpg" class="img-thumbnail"  width="150" height="150" />
            </a>
            <h5 class="fst-italic">Staff</h5>

        </div>
    </form>
    <br/>
    <form asp-action="GuestLogIn" asp-controller="Account" method="post">

        <button class="btn btn-primary" type="submit"> Guest </button>

         <div class="bg-light m-1 pb-2">
                                    <a class="navbar-brand" asp-controller="Account" asp-action="GuestLogIn">
                <img src="~/images/Guest.jpg" class="img-thumbnail" width="150" height="150" />
            </a>
            <h5 class="fst-italic">Guest</h5>

        </div>

    </form>
</form>
</div>
</div>
</div>
</div>
</div>
</div>

