@model LoginModel
@{
    ViewBag.Title = "Staff Log In";
}

<style>
    body {
        background-image: url('/images/RegisterSSS1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<h3> Guest log in</h3>
<p> You are e registerd staff of the UFS connect book, provide the neccessary infromation to log in</p>
@*
<div class="container">
    <h4>Student Log In</h4>
    <div class="row justify-content-end">
        <div class="col-md-6">

            <div class="text-danger" asp-validation-summary="All"></div>

            <div class=" container" bg-primary> </div>
            <form asp-action="StudentLogIn" method="post" asp-controller="Account" role="form">
                <form asp-action="StudentLogIn" asp-controller="Account" method="post">

                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <div><span asp-validation-for="Name" class="text-danger"></span></div>
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname"></label>
                        <div><span asp-validation-for="Surname" class="text-danger"></span></div>
                        <input asp-for="Surname" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="StudentNumber"></label>
                        <div><span asp-validation-for="StudentNumber" class="text-danger"></span></div>
                        <input asp-for="StudentNumber" class="form-control" />
                    </div>

                    <button class="btn btn-primary" type="submit"> Log In </button>
                </form>
            </form>
        </div>
    </div>
</div>
*@

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                    <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                    </button>

                    <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                    </button>

                    <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-linkedin-in"></i>
                    </button>
                </div>

                <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0">Or</p>
                </div>

                <form asp-action="StaffLogIn" method="post" asp-controller="Account" role="form">
                    <div class="form-group">
                        <label asp-for="EmailAddress"></label>
                        <div><span asp-validation-for="EmailAddress" class="text-danger"></span></div>
                        <input asp-for="EmailAddress" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <div><span asp-validation-for="Password" class="text-danger"></span></div>
                        <input asp-for="Password" class="form-control" />
                    </div>

                </form>

                <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                        <label class="form-check-label" for="form2Example3">
                            Remember me
                        </label>
                    </div>
                    <a href="#!" class="text-body">Forgot password?</a>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="button" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">
                        Login
                    </button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">
                        Don't have an account? <a asp-action="Registration" asp-controller="Account"
                                                  class="link-danger">Register</a>
                    </p>
@*                     <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
                       role="button">
                        <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                    </a>
                    <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
                       role="button">
                        <i class="fab fa-twitter me-2"></i>Continue with Twitter
                    </a> *@
                </div>


            </div>
        </div>
    </div>
    <div

</section>