<!DOCTYPE html>
<html lang="en">

<head>
    <title>About UfsConnectBook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('/images/main.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .card {
            margin: 0 auto;
            max-width: 600px;
            background-color: rgba(255, 255, 255, 0.8);
            border: none;
        }

        .card-header {
            background-color: transparent;
            border: none;
        }

        .card-body {
            text-align: center;
        }

        h2 {
            font-size: 36px;
        }

        h5 {
            font-size: 24px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header text-center">
                <h2>About UfsConnectBook</h2>
            </div>
            <div class="card-body">
                <div class="mt-4">
                    An online facility booking system for campus facilities.
                </div>
                <br />
                <h5>Who are we?</h5>
                <div>
                    We are the UfsConnectBook system that helps users book the UFS facilities to avoid the traditional queuing system.
                </div>
                <br />
                <h5>Why are we important to you</h5>
                <div>
                    We provide you with a convenient user experience and assist you in saving your time and boosting your digital use of devices.
                </div>
            </div>
        </div>
    </div>


</body>

</html>
