<!DOCTYPE html>
<html lang="en">

<head>
    <title>About UfsConnectBook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('/images/main.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .card {
            margin: 0 auto;
            max-width: 600px;
            background-color: rgba(255, 255, 255, 0.8);
            border: none;
        }

        .card-header {
            background-color: transparent;
            border: none;
        }

        .card-body {
            text-align: center;
        }

        h2 {
            font-size: 36px;
        }

        h5 {
            font-size: 24px;
        }

        .bold-green {
            font-weight: bold;
            color: green;
        }
    </style>
</head>

<body>

    <div style="display: flex; justify-content: space-between;">
        <div style="width: 50%;">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center shadow-sm rounded pt-5">Help</h2>
                    <br />
                    <br />
                    <div>
                        <div>
                            We have system administrators you can consult when you need some clarity as to how to make use of our system. You can consult the following administrators from Monday to Saturday between 08:00am - 18:00pm.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div style="width: 50%;">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Staff</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mr Nyambe Lindele</td>
                        <td>lxnyambe@gmail.com</td>
                        <td>060 6123 942</td>
                        <td>Nelspruit</td>
                    </tr>
                    <tr>
                        <td>Mrs Philasande Deon</td>
                        <td>DeonP@gmail.com</td>
                        <td>071 5900 484</td>
                        <td>HazyView</td>
                    </tr>
                    <tr>
                        <td><strong class="bold-green">Ms Phumzile Ngwamba</strong></td>
                        <td><strong class="bold-green">pngwamba@gmail.com</strong></td>
                        <td><strong class="bold-green">071 3049 011</strong></td>
                        <td><strong class="bold-green">Bloemfontein</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>


