@model Booking
@{
    ViewData["Title"] = "Bookings";
}

<style>
    body {
        background-image: url('/images/Booking.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<h4>Edit Booking</h4>
<small>@Model.Facility.Name</small>

<form asp-action="Edit" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <input type="hidden" asp-for="BookingDate" />
    <input type="hidden" asp-for="Duration" />
    <input type="hidden" asp-for="userEmail" />
    <input type="hidden" asp-for="Status" />
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>Facility</label>
        <select asp-items="@ViewBag.FacilityId" asp-for="FacilityId" class="form-control">
            <option>--- Select Facility ---</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="StartTime"></label>
        <input asp-for="StartTime" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="EndTime"></label>
        <input asp-for="EndTime" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a asp-action="Index"> Back To List</a>
    </div>
</form>

