@{
    ViewData["Title"] = "Admin | CreateManager";
}
@model RegisterModel
<section id="hero" class="clearfix">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center" data-aos="fade-up">
            <div class="col-md-12" data-aos="zoom-in" data-aos-delay="100">

                <div class="form">

                    <h4>Create Manager</h4>
                    <p>Please provide the details below to create a new account</p>

                    <form asp-action="CreateManager" asp-controller="Administrator" method="post" role="form">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <input asp-for=Name type="text" class="form-control" placeholder="FirstName">
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input asp-for=Surname type="text" class="form-control" placeholder="LastName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input asp-for=EmailAddress type="email" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group mt-3">
                            <input asp-for=Identification type="text" class="form-control" placeholder="UFS Student Number">
                        </div>
                        <div class="form-group mt-3">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <input asp-for=Password type="password" class="form-control" placeholder="Enter Password">
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input asp-for=ConfirmPassword type="password" class="form-control" placeholder="Re-Enter Password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary" title="Register">Create Account</button>
                        </div>
                        <br /> <small class="text-center"><a asp-action="Index">Back To List</a></small>

                    </form>

                </div>
            </div>
        </div>

    </div>
</section>

